/* 밀크터치 | var.css */

:root {
    /* 데스크탑 */
    --font-size-xxxs-d: 0.75rem; /* 12px */
    --font-size-xxs-d: 0.875rem; /* 14px */
    --font-size-xs-d: 1rem; /* 16px */
    --font-size-sm-d: 1.125rem; /* 18px */
    --font-size-md-d: 1.25rem; /* 20px */
    --font-size-lg-d: 1.5rem; /* 24px */
    --font-size-xl-d: 1.875rem; /* 30px */
    --font-size-xxl-d: 2.25rem; /* 36px */
    --font-size-xxxl-d: 3rem; /* 48px */
    /* 태블릿 */
    --font-size-xxxxs-t: 0.625rem; /* 10px */
    --font-size-xxxs-t: 0.75rem; /* 12px */
    --font-size-xxs-t: 0.813rem; /* 13px */
    --font-size-xs-t: 0.875rem; /* 14px */
    --font-size-sm-t: 1rem; /* 16px */
    --font-size-md-t: 1.125rem; /* 18px */
    --font-size-lg-t: 1.25rem; /* 20px */
    --font-size-xl-t: ;
    --font-size-xxl-t: 1.5rem; /* 24px */
    --font-size-xxxl-t: 2.25rem; /* 36px */

    /* 모바일 */
    --font-size-xxs-m: ;
    --font-size-xs-m: 0.75rem; /* 12px */ 
    --font-size-sm-m: 0.875rem; /* 14px */
    --font-size-md-m: ; 
    --font-size-lg-m: 1rem; /* 16px */ 
    --font-size-xl-m: 1.125rem; /* 18px */ 
    --font-size-xxl-m: ;
    --font-size-xxxl-m: ;
    --font-size-xxxxl-m: 1.625rem; /* 26px */

    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

    --bg-disable: #aaa;
    --bg-basic: #fff;
    --color-primary: #FA7171;
    --color-detail: #888;
}

.flex_row_c_c {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.flex_row_b_s {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.flex_row_s_c {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex_row_c_s {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}
.flex_row_b_c{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.flex_col_c_c {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.flex_col_c_s {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
.flex_col_s_c {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flex_col_b_c{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.flex_col_b_s {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.flex_col_b_e {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.flex_col_s_s {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex_col_s_e {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}